<% if current_user %>
<div style="background-color:#00B2EE;padding:20px;font-size:25px;color:white;">
DASHBOARD 
</div>
<div id="main-container">
	<div id="main" class="wrapper clearfix">
		<div class="row">
		<h2>Check into Giving. Start Your Campaign.<button class="btn btn-large btn-success" style="vertical-align:top;margin-right:60px;margin-top:-10px;float:right;">Create A Campaign</button></h2>
		</div>
		<div class="row" style="clear:both;">
			<div class="span6">
				<div class="row" style="background-color:#E6E8FA;padding:20px;border-radius:8px;">
					<center><h1>Total Monies</h1></center>
					<center><h3>$0 Raised</h3></center>
					</div>
					<div class="row" style="background-color:#E6E8FA;padding:20px;border-radius:8px;margin-top:15px;">
						<center><h1>Total Checkins</h1></center>
						<center><h3>0 Checkins</h3></center>
						</div>
				</div>
				<div class="span6" style="border:1px solid #EEE;">
					<center><h1>Your Nonprofit</h1></center>
					This section will show the details of your nonprofit. Including local news.
					</div>
			</div>
		<div class="row" >
			<center><h1>Social Reach</h1></center>
			<div class="row">
				<div class="span6" style="background-color:#E6E8FA;padding:20px;border-radius:8px;">
					<center><h2>Facebook</h2>
					<h3>0 FB Shares</h3> <button class="btn btn-info">Share Your Campaign on FB</button></center>
					</div>
					<div class="span6" style="background-color:#E6E8FA;padding:20px;border-radius:4px;">
						<center><h2>Twitter</h2>
						<h3>0 Tweets</h3><button class="btn btn-info">Tweet Your Campaign</button></center>
						</div>
				</div>
			</div>	
			
		</div>
		</div>
<% else %>
<div id="main-container">
	<div id="main" class="wrapper clearfix">
<center>Must be signed in to access this page<br>
<%= link_to(image_tag("connect-blue.png", :style => "padding-top:20px;"),"/auth/foursquare") %>	</center>
</div>
</div>
<% end %>	